<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Database</title>
</head>
<body>
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <label>UPLOAD PIC OF PERSON YOU WANT TO SEARCH IN DATABASE</label><br><br><br>
            <input type="file" name="image" accept="image/*"> <br><br><br>
            <button>SEARCH DATABASE</button>
        </form>
    </div>

    {% if results %}
    <h2>Top Matches:</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for match in results %}
        <div style="border: 3px solid #470505; padding: 10px; border-radius: 10px; width: fit-content;">
            <img src="{{ match.database_img_url }}" alt="Matched Face" style="width: 100%; height: auto; border-radius: 5px;" />
            <p><strong>Identity:</strong><br>{{ match.identity }}</p>
            <p><strong>Distance:</strong> {{ match.distance|floatformat:3 }}</p>
        </div>
        {% endfor %}
    </div>
    {% elif error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

<br><br>
    <a href="{% url 'home_view' %}">
        <button>HOME</button>
    </a>
</body>
</html>