<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Database</title>
</head>
<body>
    <div>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <label>UPLOAD PIC OF PERSON YOU WANT TO SEARCH IN DATABASE</label><br><br><br>
            <input type="file" name="image" accept="image/*"> <br><br><br>
            <button>SEARCH DATABASE</button>
        </form>
    </div>

    <div>
        
    </div>
<br><br>
    <a href="{% url 'home_view' %}">
        <button>HOME</button>
    </a>
</body>
</html>